@page "/relations"
@using Google.Protobuf.WellKnownTypes
@using Grpc.Net.Client
@using static SCHQ_Protos.SCHQ_Relations
@attribute [StreamRendering(false)]
@inject IConfiguration Config

<PageTitle>SCHQ Web > Relations</PageTitle>

<h1>Relations</h1>

@if (relations == null) {
  <p><em>Loading...</em></p>
} else if (relations.Length == 0) {
  <p><em>No relations found (channel secured?)</em></p>
} else {
  <p>A list of all relations for channel <b>@Channel</b></p>
  <div>
    <input class="form-control" type="text" placeholder="Filter..." @bind="Filter" @bind:event="oninput" />
    <input type="checkbox" checked="@FilterNotAssigned" @onchange="@((args) => FilterNotAssigned = (bool?)args.Value)" /> Not assigned
    <input type="checkbox" checked="@FilterFriendly" @onchange="@((args) => FilterFriendly = (bool?)args.Value)" /> Friendly
    <input type="checkbox" checked="@FilterNeutral" @onchange="@((args) => FilterNeutral = (bool?)args.Value)" /> Neutral
    <input type="checkbox" checked="@FilterBogey" @onchange="@((args) => FilterBogey = (bool?)args.Value)" /> Bogey
    <input type="checkbox" checked="@FilterBandit" @onchange="@((args) => FilterBandit = (bool?)args.Value)" /> Bandit
    <input type="checkbox" checked="@FilterOrganization" @onchange="@((args) => FilterOrganization = (bool?)args.Value)" /> Organization
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" width="1%">Type</th>
        <th scope="col">Name</th>
        <th scope="col" width="1%">Action</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var relation in relations.Where(r => IsVisible(r))) {
        <tr>
          <td class="@GetRelationClass(relation)">@(relation.Type == RelationType.Handle ? "👤" : "🌐")</td>
          <td>@relation.Name</td>
          <td>
            <div class="btn-group" role="group">
              <button type="button" disabled="@(relation.Relation == RelationValue.Friendly)" class="btn btn-success btn-sm text-white" @onclick="() => SetRelation(relation, RelationValue.Friendly)">FR</button>
              <button type="button" disabled="@(relation.Relation == RelationValue.Neutral)" class="btn btn-secondary btn-sm text-white" @onclick="() => SetRelation(relation, RelationValue.Neutral)">NE</button>
              <button type="button" disabled="@(relation.Relation == RelationValue.Bogey)" class="btn btn-warning btn-sm text-dark" @onclick="() => SetRelation(relation, RelationValue.Bogey)">BO</button>
              <button type="button" disabled="@(relation.Relation == RelationValue.Bandit)" class="btn btn-danger btn-sm text-white" @onclick="() => SetRelation(relation, RelationValue.Bandit)">BA</button>
              <button type="button" disabled="@(relation.Relation == RelationValue.NotAssigned)" class="btn btn-dark btn-sm text-white" @onclick="() => SetRelation(relation, RelationValue.NotAssigned)">🗙</button>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
}

@code {
  [SupplyParameterFromQuery]
  public string? Channel { get; set; }
  public string? Filter { get; set; }
  public bool? FilterNotAssigned { get; set; }
  public bool? FilterFriendly { get; set; } = true;
  public bool? FilterNeutral { get; set; } = true;
  public bool? FilterBogey { get; set; } = true;
  public bool? FilterBandit { get; set; } = true;
  public bool? FilterOrganization { get; set; } = true;

  private RelationInfo[]? relations;

  protected async override Task OnInitializedAsync() {
    string? gRPC_Url = Config.GetValue<string>("gRPC_Url");
    if (gRPC_Url != null && !string.IsNullOrWhiteSpace(Channel)) {
      SCHQ_RelationsClient gRPC_Client = new(GrpcChannel.ForAddress(gRPC_Url, new() {
          HttpHandler = new SocketsHttpHandler() {
            PooledConnectionIdleTimeout = Timeout.InfiniteTimeSpan,
            KeepAlivePingDelay = TimeSpan.FromSeconds(60),
            KeepAlivePingTimeout = TimeSpan.FromSeconds(30),
            EnableMultipleHttp2Connections = true
          }
        }));
      RelationsReply reply = await gRPC_Client.GetRelationsAsync(new() { Channel = Channel });
      relations = [.. reply?.Relations];
    }
  }

  private async void SetRelation(RelationInfo relation, RelationValue value) {
    string? gRPC_Url = Config.GetValue<string>("gRPC_Url");
    if (gRPC_Url != null) {
      SCHQ_RelationsClient gRPC_Client = new(GrpcChannel.ForAddress(gRPC_Url, new() {
          HttpHandler = new SocketsHttpHandler() {
            PooledConnectionIdleTimeout = Timeout.InfiniteTimeSpan,
            KeepAlivePingDelay = TimeSpan.FromSeconds(60),
            KeepAlivePingTimeout = TimeSpan.FromSeconds(30),
            EnableMultipleHttp2Connections = true
          }
        }));
      SuccessReply reply = await gRPC_Client.SetRelationAsync(new() {
        Channel = Channel,
        Relation = new() {
          Type = relation.Type,
          Name = relation.Name,
          Relation = value
        }
      });
      if (reply.Success && relations != null) {
        relations.First(r => r.Type == relation.Type && r.Name == relation.Name).Relation = value;
        StateHasChanged();
      }

    }
  }

  public bool IsVisible(RelationInfo relation)
  {
    return (string.IsNullOrWhiteSpace(Filter) || relation.Name.Contains(Filter, StringComparison.InvariantCultureIgnoreCase)) &&
    (relation.Relation switch {
      RelationValue.NotAssigned => FilterNotAssigned,
      RelationValue.Friendly => FilterFriendly,
      RelationValue.Neutral => FilterNeutral,
      RelationValue.Bogey => FilterBogey,
      RelationValue.Bandit => FilterBandit,
      _ => false
    } ?? false) &&
    (relation.Type == RelationType.Handle || (FilterOrganization.HasValue && FilterOrganization.Value));
  }

  public string GetRelationClass(RelationInfo relation) {
    return relation.Relation switch {
      RelationValue.NotAssigned => "p-3 mb-2 bg-dark text-white",
      RelationValue.Friendly => "p-3 mb-2 bg-success text-white",
      RelationValue.Neutral => "p-3 mb-2 bg-secondary text-white",
      RelationValue.Bogey => "p-3 mb-2 bg-warning text-dark",
      RelationValue.Bandit => "p-3 mb-2 bg-danger text-white",
      _ => "p-3 mb-2 bg-transparent text-dark"
    };
  }
}
