@page "/relations"
@using Google.Protobuf.WellKnownTypes
@using Grpc.Core
@using Grpc.Net.Client
@using SCHQ_Blazor.Classes
@using System.Net
@using System.Globalization
@using static SCHQ_Protos.SCHQ_Relations
@attribute [StreamRendering(false)]
@inject IConfiguration Config
@inject NavigationManager Navigation

<PageTitle>SCHQ Web</PageTitle>

<h1 id="top">Relations</h1>

@if (relations == null) {
  <p><em>Loading relations  for channel <b>@Channel</b>...</em></p>
} else {
  <p>
    <div class="input-group">
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingInputGroupChannelPassword" placeholder="@(Channel) Channel Password" @bind=ChannelPassword @bind:event="oninput" disabled="@(SyncActive)">
        <label for="floatingInputGroupChannelPassword">@(Channel) Channel Password</label>
      </div>
      <button class="btn btn-primary" type="button" @onclick="GetRelations" disabled="@SyncActive">
        <svg class="bi" width="16" height="16" fill="currentColor">
          <use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#download" />
        </svg>
      </button>
      <button class="@(SyncButtonClass)" type="button" @onclick="SyncRelations">
        <span class="spinner-border spinner-border-sm" aria-hidden="true" hidden="@(!SyncActive)" />
        <svg class="bi" width="16" height="16" fill="currentColor" hidden="@SyncActive">
          <use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#arrow-repeat" />
        </svg>
      </button>
    </div>
  </p>
  <p>
    <div class="input-group mb-1" id="QueryHandle">
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInputGroupName" placeholder="Handle" @bind=QueryHandle @bind:event="oninput" disabled="@QueryHandleActive" @onkeydown="@Enter">
        <label for="floatingInputGroupName">Handle</label>
      </div>
      <button type="button" class="btn btn-primary" @onclick="Query" disabled="@(QueryHandleActive || string.IsNullOrWhiteSpace(QueryHandle))">
        <span class="spinner-border spinner-border-sm" aria-hidden="true" hidden="@(!QueryHandleActive)" />
        <svg class="bi" width="16" height="16" fill="currentColor" hidden="@QueryHandleActive">
          <use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#search" />
        </svg>
      </button>
      <button type="button" class="btn btn-danger" @onclick="() => { QueryHandle = string.Empty; }" disabled="@(QueryHandleActive || string.IsNullOrWhiteSpace(QueryHandle))">
        <svg class="bi" width="16" height="16" fill="currentColor">
          <use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#x-lg" />
        </svg>
      </button>
    </div>
    <div class="alert alert-danger" role="alert" hidden="@(QueryHandleError == null)">
      <i>@QueryHandleError</i>
    </div>
    <div class="card flex-row mb-1" style="background-color: #131A21; color: #39CED8" hidden="@(QueryHandleInfo == null)">
      <a href="@QueryHandleInfo?.Profile?.Url" target="_blank"><img class="card-img" width="120" height="120" src="@QueryHandleInfo?.Profile?.AvatarUrl" /></a>
      <div class="card-body m-1 p-1">
        <div class="card-text small">
          <div class="h5 h4-sm mb-0"><b>@QueryHandleInfo?.Profile?.Handle</b></div>
          <div><b>CM: @QueryHandleInfo?.Profile?.CommunityMonicker</b></div>
          <div>@QueryHandleInfo?.Profile?.Enlisted.ToString("MMM d, yyyy", CultureInfo.InvariantCulture) (@QueryHandleInfo?.Profile?.UeeCitizenRecord)</div>
          <div><img width="16" height="16" src="@QueryHandleInfo?.Profile?.DisplayTitleAvatarUrl" /> @QueryHandleInfo?.Profile?.DisplayTitle</div>
          <div>@string.Join(", ", QueryHandleInfo?.Profile?.Fluency ?? [])@(QueryHandleInfo?.Profile?.Country?.Length > 0 ? $" ({QueryHandleInfo.Profile.Country})" : string.Empty)</div>
        </div>
      </div>
      <div class="btn-group-vertical" role="group">
        <button type="button" class="btn btn-success btn-sm text-white mb-0" @onclick="() => SetRelation(QueryHandleInfo?.Profile?.Handle, RelationValue.Friendly)">FR</button>
        <button type="button" class="btn btn-secondary btn-sm text-white mb-0" @onclick="() => SetRelation(QueryHandleInfo?.Profile?.Handle, RelationValue.Neutral)">NE</button>
        <button type="button" class="btn btn-warning btn-sm text-white mb-0" @onclick="() => SetRelation(QueryHandleInfo?.Profile?.Handle, RelationValue.Bogey)">BO</button>
        <button type="button" class="btn btn-danger btn-sm text-white mb-0" @onclick="() => SetRelation(QueryHandleInfo?.Profile?.Handle, RelationValue.Bandit)">BA</button>
      </div>
    </div>
    <div class="card flex-row mb-1" style="background-color: #131A21; color: #39CED8" hidden="@(QueryHandleInfo == null || QueryHandleInfo?.Organizations?.MainOrganization == null)">
      @if (!QueryHandleInfo?.Organizations?.MainOrganization?.Redacted ?? false) {
        <a href="@QueryHandleInfo?.Organizations?.MainOrganization?.Url" target="_blank"><img class="card-img" width="120" height="120" src="@QueryHandleInfo?.Organizations?.MainOrganization?.AvatarUrl" /></a>
        <div class="card-body m-1 p-1">
          <div class="card-text small">
            <div class="h5 h4-sm mb-0"><b>@QueryHandleInfo?.Organizations?.MainOrganization?.Name</b></div>
            <div><b>SID: @QueryHandleInfo?.Organizations?.MainOrganization?.Sid</b></div>
            <div>Rank: @QueryHandleInfo?.Organizations?.MainOrganization?.RankName</div>
            <div>Activity: @string.Join(", ", [QueryHandleInfo?.Organizations?.MainOrganization?.PrimaryActivity, QueryHandleInfo?.Organizations?.MainOrganization?.SecondaryActivity])</div>
            <div>@($"{QueryHandleInfo?.Organizations?.MainOrganization?.Commitment} / {QueryHandleInfo?.Organizations?.MainOrganization?.Members:n0} Member{(QueryHandleInfo?.Organizations?.MainOrganization?.Members > 1 ? "s" : string.Empty)}")</div>
          </div>
        </div>
        <div class="btn-group-vertical" role="group">
          <button type="button" class="btn btn-success btn-sm text-white mb-0" @onclick="() => SetRelation(QueryHandleInfo?.Organizations?.MainOrganization?.Sid, RelationValue.Friendly, RelationType.Organization)">FR</button>
          <button type="button" class="btn btn-secondary btn-sm text-white mb-0" @onclick="() => SetRelation(QueryHandleInfo?.Organizations?.MainOrganization?.Sid, RelationValue.Neutral, RelationType.Organization)">NE</button>
          <button type="button" class="btn btn-warning btn-sm text-white mb-0" @onclick="() => SetRelation(QueryHandleInfo?.Organizations?.MainOrganization?.Sid, RelationValue.Bogey, RelationType.Organization)">BO</button>
          <button type="button" class="btn btn-danger btn-sm text-white mb-0" @onclick="() => SetRelation(QueryHandleInfo?.Organizations?.MainOrganization?.Sid, RelationValue.Bandit, RelationType.Organization)">BA</button>
        </div>
      } else {
        <div class="card-body m-1 p-1 bg-danger text-white">
          <div class="card-text small">
            REDACTED
          </div>
        </div>
      }
    </div>
    @foreach (var aff in (QueryHandleInfo?.Organizations?.Affiliations ?? []).Where(a => !a.Redacted)) {
      <div class="card flex-row mb-1" style="background-color: #131A21; color: #39CED8" hidden="@(QueryHandleInfo == null)">
        <a href="@aff.Url" target="_blank"><img class="card-img" width="120" height="120" src="@aff.AvatarUrl" /></a>
        <div class="card-body m-1 p-1">
          <div class="card-text small">
            <div class="h5 h4-sm mb-0"><b>@aff.Name</b></div>
            <div><b>SID: @aff.Sid</b></div>
            <div>Rank: @aff.RankName</div>
            <div>@($"Affiliation / {aff.Members:n0} Member{(aff.Members > 1 ? "s" : string.Empty)}")</div>
          </div>
        </div>
        <div class="btn-group-vertical" role="group">
          <button type="button" class="btn btn-success btn-sm text-white mb-0" @onclick="() => SetRelation(aff.Sid, RelationValue.Friendly, RelationType.Organization)">FR</button>
          <button type="button" class="btn btn-secondary btn-sm text-white mb-0" @onclick="() => SetRelation(aff.Sid, RelationValue.Neutral, RelationType.Organization)">NE</button>
          <button type="button" class="btn btn-warning btn-sm text-white mb-0" @onclick="() => SetRelation(aff.Sid, RelationValue.Bogey, RelationType.Organization)">BO</button>
          <button type="button" class="btn btn-danger btn-sm text-white mb-0" @onclick="() => SetRelation(aff.Sid, RelationValue.Bandit, RelationType.Organization)">BA</button>
        </div>
      </div>
    }
  </p>
  <div class="input-group" hidden="@(relations.Length == 0)">
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInputGroupFilter" placeholder="Filter" @bind="Filter" @bind:event="oninput">
      <label for="floatingInputGroupFilter">Filter</label>
    </div>
    <div class="input-group-text bg-success p-2">
      <input class="form-check-input mt-0 bg-success border-white" type="checkbox" value="" checked="@FilterFriendly" @onchange="@((args) => FilterFriendly = (bool?)args.Value)">
    </div>
    <div class="input-group-text bg-secondary p-2">
      <input class="form-check-input mt-0 bg-secondary border-white" type="checkbox" value="" checked="@FilterNeutral" @onchange="@((args) => FilterNeutral = (bool?)args.Value)">
    </div>
    <div class="input-group-text bg-warning p-2">
      <input class="form-check-input mt-0 bg-warning border-white" type="checkbox" value="" checked="@FilterBogey" @onchange="@((args) => FilterBogey = (bool?)args.Value)">
    </div>
    <div class="input-group-text bg-danger p-2">
      <input class="form-check-input mt-0 bg-danger border-white" type="checkbox" value="" checked="@FilterBandit" @onchange="@((args) => FilterBandit = (bool?)args.Value)">
    </div>
    <div class="input-group-text bg-dark p-2">
      <input class="form-check-input mt-0 bg-dark border-white" type="checkbox" value="" checked="@FilterNotAssigned" @onchange="@((args) => FilterNotAssigned = (bool?)args.Value)">
    </div>
    <div class="input-group-text bg-info p-2">
      <input class="form-check-input mt-0 bg-info border-white" type="checkbox" value="" checked="@FilterOrganization" @onchange="@((args) => FilterOrganization = (bool?)args.Value)">
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" width="1%">Type</th>
        <th scope="col">Name</th>
        <th scope="col" width="1%">Action</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var relation in relations?.Where(r => IsVisible(r)) ?? []) {
        <tr>
          <td class="@GetRelationClass(relation)">
            <svg class="bi" width="16" height="16" fill="currentColor">
              @if (relation.Type == RelationType.Handle) {
                <use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#person" />
              } else {
                <use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#globe" />
              }
            </svg>
          </td>
          <td class="align-middle">
            @if (relation.Type == RelationType.Handle) {
              <a href="javascript:void(0);" @onclick="() => { QueryHandle = relation.Name; Query(); }">@relation.Name</a>
            } else {
              @relation.Name
            }
          </td>
          <td class="align-middle text-end">
            <button type="button" class="btn btn-dark btn-sm p-2" @onclick="() => SetRelation(relation, RelationValue.NotAssigned)" disabled="@(relation.Relation == RelationValue.NotAssigned)">
              <svg class="bi" width="12" height="12" fill="currentColor">
                <use xlink:href="/lib/bootstrap-icons/bootstrap-icons.svg#x-lg" />
              </svg>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
}

@code {
  [SupplyParameterFromQuery]
  public string? Channel { get; set; }
  private string? ChannelPassword { get; set; }
  public string? Filter { get; set; }
  public bool? FilterNotAssigned { get; set; }
  public bool? FilterFriendly { get; set; } = true;
  public bool? FilterNeutral { get; set; } = true;
  public bool? FilterBogey { get; set; } = true;
  public bool? FilterBandit { get; set; } = true;
  public bool? FilterOrganization { get; set; } = true;
  public bool SyncActive { get; set; } = false;
  public string SyncButtonClass {
    get {
      return SyncActive ? "btn btn-success" : "btn btn-danger";
    }
  }
  private string? _queryHandle = string.Empty;
  public string? QueryHandle {
    get {
      return _queryHandle;
    }
    set {
      _queryHandle = value;
      if (string.IsNullOrWhiteSpace(_queryHandle)) {
        QueryHandleInfo = null;
      }
    }
  }
  public bool QueryHandleActive { get; set; }
  public HandleInfo? QueryHandleInfo { get; set; }
  public string? QueryHandleError { get; set; }

  private RelationInfo[]? relations;
  private CancellationTokenSource? CTS;

  protected async override Task OnInitializedAsync() {
    await GetRelations();
  }

  private async Task GetRelations() {
    string? gRPC_Url = Config.GetValue<string>("gRPC_Url");
    if (gRPC_Url != null && !string.IsNullOrWhiteSpace(Channel)) {
      SCHQ_RelationsClient gRPC_Client = new(GrpcChannel.ForAddress(gRPC_Url, new() {
          HttpHandler = new SocketsHttpHandler() {
            PooledConnectionIdleTimeout = Timeout.InfiniteTimeSpan,
            KeepAlivePingDelay = TimeSpan.FromSeconds(60),
            KeepAlivePingTimeout = TimeSpan.FromSeconds(30),
            EnableMultipleHttp2Connections = true
          }
        }));
      RelationsReply reply = await gRPC_Client.GetRelationsAsync(new() { Channel = Channel, Password = ChannelPassword ?? string.Empty });
      relations = [.. reply?.Relations.OrderBy(r => r.Type).ThenBy(r => r.Name)];
    }
  }

  private async void SetRelation(RelationInfo relation, RelationValue value) {
    string? gRPC_Url = Config.GetValue<string>("gRPC_Url");
    if (gRPC_Url != null) {
      SCHQ_RelationsClient gRPC_Client = new(GrpcChannel.ForAddress(gRPC_Url, new() {
          HttpHandler = new SocketsHttpHandler() {
            PooledConnectionIdleTimeout = Timeout.InfiniteTimeSpan,
            KeepAlivePingDelay = TimeSpan.FromSeconds(60),
            KeepAlivePingTimeout = TimeSpan.FromSeconds(30),
            EnableMultipleHttp2Connections = true
          }
        }));
      SuccessReply reply = await gRPC_Client.SetRelationAsync(new() {
          Channel = Channel,
          Password = ChannelPassword,
          Relation = new() {
            Type = relation.Type,
            Name = relation.Name,
            Relation = value
          }
        });
      if (reply.Success && relations != null) {
        if (relations.Any(r => r.Type == relation.Type && r.Name == relation.Name)) {
          relations.First(r => r.Type == relation.Type && r.Name == relation.Name).Relation = value;
        } else {
          relations = [.. relations.Concat([relation]).OrderBy(r => r.Type).ThenBy(r => r.Name)];
        }
        StateHasChanged();
      }
    }
  }

  private void SetRelation(string? name, RelationValue value, RelationType type = RelationType.Handle) {
    SetRelation(new RelationInfo() {
        Type = type,
        Name = name,
        Relation = value
      }, value);
    StateHasChanged();
  }

  private async void SyncRelations() {
    string? gRPC_Url = Config.GetValue<string>("gRPC_Url");
    if (gRPC_Url != null) {
      try {
        if (SyncActive) {
          if (CTS != null && !CTS.IsCancellationRequested) {
            CTS.Cancel(true);
          }
          SyncActive = false;
        } else {
          SyncActive = true;
          CTS = new();
          await GetRelations();
          StateHasChanged();
          SCHQ_RelationsClient gRPC_Client = new(GrpcChannel.ForAddress(gRPC_Url, new() {
              HttpHandler = new SocketsHttpHandler() {
                PooledConnectionIdleTimeout = Timeout.InfiniteTimeSpan,
                KeepAlivePingDelay = TimeSpan.FromSeconds(60),
                KeepAlivePingTimeout = TimeSpan.FromSeconds(30),
                EnableMultipleHttp2Connections = true
              }
            }));
          using var streamingCall = gRPC_Client.SyncRelations(new() { Channel = Channel, Password = ChannelPassword ?? string.Empty }, cancellationToken: CTS.Token);
          try {
            await foreach (SyncRelationsReply rel in streamingCall.ResponseStream.ReadAllAsync(cancellationToken: CTS.Token)) {
              if (relations?.Any(r => r.Type == rel.Relation.Type && r.Name == rel.Relation.Name) ?? false) {
                relations.First(r => r.Type == rel.Relation.Type && r.Name == rel.Relation.Name).Relation = rel.Relation.Relation;
              } else {
                relations = [.. relations?.Concat([rel.Relation]).OrderBy(r => r.Type).ThenBy(r => r.Name)];
              }
              StateHasChanged();
            }
          } catch { }
          SyncActive = false;
          StateHasChanged();
        }
      } catch { }
    }
  }

  public bool IsVisible(RelationInfo relation) {
    return (string.IsNullOrWhiteSpace(Filter) || relation.Name.Contains(Filter, StringComparison.InvariantCultureIgnoreCase)) &&
    (relation.Relation switch {
      RelationValue.NotAssigned => FilterNotAssigned,
      RelationValue.Friendly => FilterFriendly,
      RelationValue.Neutral => FilterNeutral,
      RelationValue.Bogey => FilterBogey,
      RelationValue.Bandit => FilterBandit,
      _ => false
    } ?? false) &&
    (relation.Type == RelationType.Handle || (FilterOrganization.HasValue && FilterOrganization.Value));
  }

  public string GetRelationClass(RelationInfo relation) {
    return relation.Relation switch {
      RelationValue.NotAssigned => "p-3 mb-2 bg-dark text-white",
      RelationValue.Friendly => "p-3 mb-2 bg-success text-white",
      RelationValue.Neutral => "p-3 mb-2 bg-secondary text-white",
      RelationValue.Bogey => "p-3 mb-2 bg-warning text-white",
      RelationValue.Bandit => "p-3 mb-2 bg-danger text-white",
      _ => "p-3 mb-2 bg-transparent text-dark"
    };
  }

  public async void Query() {
    QueryHandleActive = true;
    Navigation.NavigateTo($"{Navigation.Uri}#top");
    QueryHandleInfo = null;
    if (QueryHandle != null) {
      QueryHandleInfo = await HandleQuery.GetHandleInfo(QueryHandle);
      if (QueryHandleInfo?.HttpResponse?.StatusCode == HttpStatusCode.OK) {
        QueryHandleError = null;
        QueryHandle = QueryHandleInfo?.Profile?.Handle;
      } else {
        QueryHandleError = QueryHandleInfo?.HttpResponse?.StatusCode == HttpStatusCode.NotFound ? "Handle not found..." : QueryHandleInfo?.HttpResponse?.ErrorText ?? "An error occured...";
        QueryHandleInfo = null;
      }
    }
    QueryHandleActive = false;
    StateHasChanged();
  }

  public void Enter(KeyboardEventArgs e) {
    if (e.Code == "Enter" || e.Code == "NumpadEnter") {
      Query();
    }
  }
}
